.leaseVacancy {
    text-align: center;
}

.leaseExpirations {
    background-color: burlywood;
    padding-bottom: 20px;
}
.inspectionDates {
    background-color: olive;
    padding-bottom: 20px;
}
